.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.gallery .gallery-nav {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.gallery .gallery-nav ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 100%;
}

.gallery .gallery-nav li {
    max-width: var(--gallery-button-width, 25%);
    min-width: var(--gallery-button-width, 25%);
    min-height: var(--gallery-image-height, 3.5rem);
}

.gallery .gallery-nav .gallery-button {
    display: block;
    width: 100%;
    transition: 500ms;
}

.gallery .gallery-nav .gallery-button img {
    width: 100%;
    height: var(--gallery-image-height, 3.5rem);
    object-fit: cover;
}

.gallery .gallery-nav .gallery-button.active img {
    opacity: .2;
}

.gallery .active:not(.gallery-button) {
    width: calc((100% / 12) * 9);
}

.gallery .gallery-image {
    width: 100%;
    height: var(--gallery-image-height, 20rem);
    object-fit: cover;
}

.gallery .gallery-nav::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.gallery .gallery-nav::-webkit-scrollbar-button {
    width: 15%;
    height: 15%;
}

.gallery .gallery-nav::-webkit-scrollbar-thumb {
    background: var(--gallery-thumb-background-color, #DDD);
    border-radius: 100vh;
}

.gallery .gallery-nav::-webkit-scrollbar-thumb:hover,
.gallery .gallery-nav::-webkit-scrollbar-thumb:active {
    background: var(--gallery-thumb-background-color-alt, #FFF);
}

.gallery .gallery-nav::-webkit-scrollbar-track {
    background: var(--gallery-track-background-color, #000);
    border-radius: 100vh;
}

.gallery .gallery-nav::-webkit-scrollbar-track:hover,
.gallery .gallery-nav::-webkit-scrollbar-track:active {
    background: var(--gallery-track-background-color-alt, #222);
}

.gallery .gallery-nav::-webkit-scrollbar-corner {
    background: transparent;
}

/* ? MD */
@media (min-width: 768px) {
    .gallery {
        --gallery-button-width: 15%;
    }

    .gallery.vertical {
        --gallery-button-width: 100%;
        flex-wrap: nowrap;
    }

    .gallery.vertical .gallery-nav {
        overflow-x: revert;
        overflow-y: scroll;
        width: 25%;
        height: var(--gallery-image-height, 20rem);
    }

    .gallery.vertical .gallery-nav ul {
        flex-wrap: wrap;
    }

    .gallery.vertical .gallery-image {
        width: 100%;
    }
}

/* ? LG */
@media (min-width: 1024px) {
    .gallery .gallery-nav li {
        --gallery-button-width: 10%;
    }

    .gallery.vertical .gallery-nav li {
        --gallery-button-width: 100%;
    }
}

/* ? XL */
@media (min-width: 1200px) {
    /*  */
}

/* ? 2XL */
@media(min-width: 1536px){
    .gallery .gallery-nav li {
        --gallery-button-width: 7.5%;
    }
}

/* ? 3XL */
@media(min-width: 1920px){
    /*  */
}